:root {
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;

	color: hsl(0, 0%, 100%);

	text-align: center;

	background-color: hsl(233, 47%, 7%);
}



main {
	width: 20em;

	margin: 2.5em auto;
	padding: 0;
	
	border-radius: 10px;

	background-color: hsl(244, 38%, 16%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}



main > .image {
	width: 100%;

	margin: 0;
	padding: 0;

 	border-radius: 10px 10px 0 0;

	position: relative;

	font-size: 0;	/* WTF?! */
}

main > .image > .content {
	max-width: 100%;

	margin: 0;

	border-radius: 10px 10px 0 0;

	z-index: 1;
}

main > .image > .foreground {
	margin: 0;

	border-radius: 10px 10px 0 0;

	position: absolute;	
	top: 0;
	left: 0;			
	bottom: 0;			
	right: 0;			

	z-index: 2;

	background-color: hsla(277, 64%, 31%, 0.65);
}



main > .text {
	margin: 1.5em auto 0.5em auto;
	padding: 0 1em;
}

main > .text > .header {
	font-size: 1.75em;
	font-weight: 700;

	line-height: 1.1em;

	margin: 0.8em auto;
	padding: 0;
}

main > .text > .header > .highlighted {
	color: hsl(277, 64%, 61%);
}

main > .text > .content {
	font-size: 1em;

	margin: 0.8em auto;
	padding: 0;

	line-height: 1.75em;

	color: hsla(0, 0%, 100%, 0.75);
}



main > .stats {
	margin: 0 auto 1.5em auto;
	padding: 0;
}

main > .stats > .stat {
	margin: 1.5em auto;
	padding: 0;
}

main > .stats > .stat > .val {
	font-size: 1.5em;
	font-weight: 700;

	margin: 0.25em auto;
	padding: 0;

	color: hsl(0, 0%, 100%);

	display: block;
}

main > .stats > .stat > .dsc {
	font-size: 0.8em;
	font-family: 'Lexend Deca';

	margin: 0.25em auto;
	padding: 0;

	color: hsla(0, 0%, 100%, 0.6);

	text-transform: uppercase;

	display: block;
}



.attribution { 
	font-size: 0.7em; 
	text-align: center; 
}

.attribution > .link { 
	color: hsl(228, 45%, 44%); 
}







@media (max-width: 1024px) {
	main {
		width: 20em;

		margin: 2.5em auto;
		padding: 0;
		
		border-radius: 10px;

		background-color: hsl(244, 38%, 16%);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}



	main > .image {
		width: 100%;

		margin: 0;
		padding: 0;

	 	border-radius: 10px 10px 0 0;

		position: relative;

		font-size: 0;	/* WTF?! */
	}
	
	main > .image > .foreground {
		margin: 0;

		border-radius: 10px 10px 0 0;

		position: absolute;	
		top: 0;
		left: 0;			
		bottom: 0;			
		right: 0;			

		z-index: 2;

		background-color: hsla(277, 64%, 31%, 0.65);
	}

	main > .image > .content {
		max-width: 100%;

		margin: 0;

		border-radius: 10px 10px 0 0;

		z-index: 1;
	}



	main > .text {
		margin: 1.5em auto 0.5em auto;
		padding: 0 1em;
	}

	main > .text > .header {
		font-size: 1.75em;
		font-weight: 700;

		line-height: 1.1em;

		margin: 0.8em auto;
		padding: 0;
	}
	
	main > .text > .header > .highlighted {
		color: hsl(277, 64%, 61%);
	}
	
	main > .text > .content {
		font-size: 1em;

		margin: 0.8em auto;
		padding: 0;

		line-height: 1.75em;

		color: hsla(0, 0%, 100%, 0.75);
	}



	main > .stats {
		margin: 0 auto 1.5em auto;
		padding: 0;
	}

	main > .stats > .stat {
		margin: 1.5em auto;
		padding: 0;
	}

	main > .stats > .stat > .val {
		font-size: 1.5em;
		font-weight: 700;

		margin: 0.25em auto;
		padding: 0;

		color: hsl(0, 0%, 100%);

		display: block;
	}

	main > .stats > .stat > .dsc {
		font-size: 0.8em;
		font-family: 'Lexend Deca';

		margin: 0.25em auto;
		padding: 0;

		color: hsla(0, 0%, 100%, 0.6);

		text-transform: uppercase;

		display: block;
	}



	.attribution { 
		font-size: 0.7em; 
		text-align: center; 
	}
	
	.attribution > .link { 
		color: hsl(228, 45%, 44%); 
	}
}
